<% 
if (ecoute != 0) {
%>
<article>
	<h2><%= nomLieu %> <%= ecoute %></h2>
	<div class="details">
		<ul>
			<li><span class="num" id="nbEcoutes">0</span> Ecoutes</li>
		</ul>
	</div>
	<div id="discutLieu<%= ecoute %>" class="discussions"></div>
</article>
<%
}
if (premierLieuPublic) {
%>
<article>
	<h2><%= nomLieu0 %></h2>
	<div class="details">
		<ul>
			<li><span class="num" id="nbAnonymes">0</span> Anonymes</li>
		</ul>
	</div>
	<% if (ecoute != 0) { %>
	<button class ="boutonMove" onclick="goTo(0)" >Y retourner</button>
	<button id="toggleLieu0" onclick="toggle('discutLieu0', 'toggleLieu0');">Masquer</button>
	<% } %>
	<div id="discutLieu0" class="discussions"></div>
</article>
<% } %>
<article id="menuLieux">
	<h2><%= nomLieux %></h2>
	<div id="zoneLieux"><div id="lieux"></div></div>
</article>