<div class="colonne" id="user_<%= surnom %>">
	<div class="entete" style="background-color: <%= couleur %>;">
		<h3 class="nom"><%= surnom %></h3>
	</div>
	<% if (current && actif) { %>
	<div id="interface">
		<input type="text" name="message" id="message" autocomplete="off" placeholder="Dire un truc..." onkeydown="messageClavier(this.value, event)" autofocus />
		<div class="zoneBoutons">
			<button style="background: url(img/crier.svg)" onclick="crier()" title="crier" />
		</div>
	</div>
	<% } %>
	<div class="dires<%= current && actif ? " personnels" : "" %>" id="dires_<%= surnom %>">
	</div>
</div>