<div class="lieu <%= num == presence ? 'presence' : '' %>" id="lieu<%= num %>">
	<h3><%= nomLieu %> <%= num %></h3>
	<h4><%= nom %></h4>
	<ul>
<% for (var i = 0; i < taille; i++) {%>
		<li class="empty">
			<span class="puce"></span>
			<span class="surnom"></span>
		</li>
<% } %>
	</ul>
	<button class ="boutonMove" onclick="goTo(<%= num %>)" <%= !loggedIn || (presence == num && ecoute == num) ? "disabled" : ""%> ><%= presence == num ? "Y retourner" : "Y Aller" %></button>
<% if (presence != num) { %>
	<button class ="boutonMove" onclick="listenTo(<%= num %>)" <%= !loggedIn || (ecoute == num) ? "disabled" : "" %> ><%= presence == num ? "Y retourner" : "Ecouter" %></button>
<% } %>
</div>