<div class="message<%= id == "ecrit" ? " ecrit" : "" %>" id="message_<%= surnom + id %>">
	<div class="bulleBackground pointe" style="border-bottom: 7px solid <%= couleur %>;"></div>
	<div class="bulleBackground bulle <%= type %>" style="background-color:<%= couleur %>">
		<% if (type == "citation") { %>
		<div class="bulle">
		<% } %>
		<p><%= message %></p>
		<%= type == "citation" ? "</div>" : "" %>
	</div>
	<button type="button" title="Mémoriser" class="action" onclick="addMemory('<%= surnom %>', '<%= id %>')" >+</button>
</div>